.separator {
    max-height: 1px !important;
    border-color: black !important;
    background: none !important;
    height: 1px !important;
    padding: 4 !important;
}
.zero {
    height: 0!important;
    padding: 0 !important;
}
